# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Environment variables
.env

# Production build directory
build/
dist/

# IDE files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
